@import url("./Color.css");
footer {
    background-color: var(--main-color-l);
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 9999;
    bottom: 0;
}

footer p {
    text-align: center;
}