/* @import url("./Color.css");
.header{
    background-color: var(--bg-color);
}
.header-left a{
    text-decoration: none !important;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 10px var(--shadow-color);
}
.h-l{
    color: var(--main-color-l);
}
.h-r{
    color: var(--main-color-r);
}
.header-right{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right .l-l a{
    margin-right: 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px;
    border-radius: 10% 30% ;
}
.a-l{
    background-color: var(--main-color-l);
    color: var(--text-1);
} .a-l:hover{
    background-color: var(--main-color-r);
    color: var(--text-2);
}
.a-r{
    border: 2px solid var(--main-color-r);
    color: var(--main-color-l);
} .a-r:hover{
    border: 2px solid var(--main-color-l);
    color: var(--main-color-r);
} */

.main-content {
    color: #30e3da;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Quicksand', sans-serif;

}

.create-event {
    margin-left: 0;
    text-align: center;
    width: auto;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-size: 23px;


}

.eventContainer {
    margin-top: 70px;

}

.button1 {
    margin-top: 50px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fefefe;
    font-size: 30px;
    border-radius: 40px;
    border: 2px solid #fff;

}

.button1:hover {
    background-color: #30e3da;
    color: #1d2026;
    transition: 0.5s;
    border: none;
}

.ongoing-events {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fefefe;
    font-size: 25px;
    border-radius: 40px;
    border: 2px solid #fff;

}

.ongoing-events:hover {
    background-color: #30e3da;
    color: #1d2026;
    transition: 0.5s;
    border: none;
}


.ongoingContainer {
    margin-top: 130px;
}

.ongoing-events {
    margin-top: 300px;
}

footer {
    height: auto;
    width: auto;
    margin-top: 7%;
}

footer p {
    background-color: rgb(24, 26, 26);
    color: white;
    text-align: center;
    padding: 30px;

}