
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Tapestry&display=swap');

.errorBox{
    color: red;
    padding: 5px;
}
.h1{
    color:#00c3ff;
    ;
    font-family: 'Dongle', sans-serif;
    font-size: 3.8rem;
}