/* @import url("./Color.css");
nav {
    display: flex;
    align-items: center;
    padding: 5px 8%;
}

nav .logo {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: #30e3da;
    cursor: pointer;
}

.hamburger {

    display: none;
}


nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Quicksand', sans-serif;

}

nav ul li a {
    color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 50px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #30e3da;
    color: #1d2026;
    border: none;

}


nav .toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 1320px) {
    nav {
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 910px) {

    .hamburger {
        display: inline-block;
        cursor: pointer;
        margin-left: 60%;

    }

    .hamburger .line {
        width: 35px;
        height: 4px;
        background: #fefefe;
        margin: 6px 0;
    }

    nav ul {
        display: none;
    }
}



.main-content {
    color: #30e3da;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Quicksand', sans-serif;

}

.pointerHover{
    cursor: pointer;
} */

.navbar {
    background-color: #cfe8d5 !important;
  }
  
  .navbar .navbar-nav .nav-item a {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
  }
  
  .navbar .navbar-nav .nav-item a:hover {
    background-color: #a2bdaa;
    border-radius: 4px;
    transition: .4s;
  }
  
  .navbar .navbar-nav .nav-item a:active {
    background-color: #a2bdaa;
    border-radius: 4px;
  
  }
  
 .login {
    padding: 15px;
    font-size: large !important;
    text-decoration: none;
    color:#494c4d;
  }
  
  .navbar .navbar-nav .login:hover {
    background-color: #9ab7a3; 
    border-radius: 4px;
    transition: .4s;
    text-decoration: none;
    color:#494c4d;
    
  }
  
  .navbar-brand {
    padding-left: 20px;
  
  }
  
  .navLogo {
    font-size: 35px !important;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    color: #494c4d !important;
  }
  
  .main-para{
    margin-top: 70px;
    padding: 30px;
    font-size: 20px;
  }
  
  .container{
    margin-top:40px;
  }
  
  .card{
    padding: 20px;
    
  }
  
  .card-title{
    text-align: center;
    font-size: 50px;
    cursor: pointer;
  
    
  }
  
  .card-title a{
  color: black;
  text-decoration: none;
  }
  
  
  
  
  .card-title a:hover{
     color: #546359;
     transition: 0.4s;
     text-shadow: #494c4d;
  }
  
  .card-text{
    padding: 20px;
    font-size: larger;
  }

  .pointerHover{
    cursor: pointer;}